.checkbox {
  background: transparent;
  border: none;
  position: relative;
  height: 1.5rem;
  width: 1.5rem;
}
.checkbox svg {
  color: var(--blue);
}

.checkboxChecked {
  background: transparent;
  border: none;
  position: relative;
  height: 1.5rem;
  width: 1.5rem;
}

.checkboxChecked svg {
  color: var(--purple);
  opacity: 0.7;
}
