.input {
  margin-top: -60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
}
.input > input {
  padding: 1rem;
  gap: 8px;
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  color: var(--white);

  flex: none;
  order: 0;
  flex-grow: 1;
}

.input > button {
  width: 5.625rem;
  height: 3.25rem;
  gap: 5px;

  background: var(--blue-dark);
  border-radius: 8px;
  border: none;
  color: var(--white);

  display: flex;
  align-items: center;
  justify-content: center;
}
