.listTaks {
  display: grid;
  flex-direction: row;
  width: 100%;
  padding: 0.75rem;
}

.listTaks li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  background: var(--gray-500);

  border: 1px solid var(--gray-400);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

.task {
  color: var(--white);
  width: 90%;
  padding: 0 0.75rem;
  cursor: pointer;

  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
.taskCheck {
  color: var(--gray-300);
  width: 90%;
  padding: 0 0.75rem;
  cursor: pointer;

  text-decoration: line-through;

  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  opacity: 0.5;
}

.trash {
  background: transparent;
  border: 0;
  color: var(--gray-300);
  cursor: pointer;
  line-height: 0;
  border-radius: 2px;
}
.trash:hover {
  color: var(--danger);
}
