.content {
  width: 100%;
}
.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}
.empty img {
  padding: 0.75rem 0;
}
.empty p {
  color: var(--gray-300);
}

.contentBox {
  margin-top: 4rem;

  display: flex;
  flex-direction: column;
}

.taskHeader {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;

  border-bottom: 1px solid var(--gray-400);
}

.created {
  color: var(--blue);
  font-weight: 700;
  font-size: 14px;
}

.done {
  color: var(--purple);
  font-weight: 700;
  font-size: 14px;
}

.counter {
  color: var(--gray-200);
  background: var(--gray-400);
  font-weight: 700;
  font-size: 12px;

  width: 25px;
  height: 19px;
  border-radius: 999px;

  padding: 2px 8px;
}

.contentTasks {
  display: grid;
}
