.wrapper {
  max-width: 40rem;
  margin: 2rem auto;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  justify-items: center;
}
@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
  .wrapper {
    width: 90%;
  }
}
